{
  "extends": "plugin:prettier/recommended",
  "parser": "typescript-eslint-parser",
  "plugins": [
    "prettier",
    "import",
    "typescript",
    "mocha"
  ],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "es6": true
  },
  "overrides": [
    {
      "files": ["*.js"],
      "env": {
        "commonjs": true,
        "node": true
      }
    },
    {
      "files": ["*/src/**/*.*spec.ts"],
      "rules": {
        "mocha/no-exclusive-tests": "error",
        "no-magic-numbers": "off"
      }
    },
    {
      "files": ["*/src/**/*.ts", "test/**/*.ts"],
      "parserOptions": {
        "sourceType": "module"
      },
      "rules": {
        "indent": "off",
        "new-cap": "off",
        "no-dupe-class-members": "off",
        "no-undef": "off",
        "no-unused-vars": "off"
      }
    }
  ],
  "rules": {
    "array-bracket-newline": ["error", "consistent"],
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs"],
    "camelcase": ["error", { "properties": "always" }],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "always-multiline"
    }],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "curly": ["error", "all"],
    "eqeqeq": ["error", "always"],
    "eol-last": ["error", "always"],
    "import/order": ["error"],
    "key-spacing": ["warn", {
      "beforeColon": false,
      "afterColon": true,
      "mode": "minimum",
      "align": "value"
    }],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "lines-around-comment": ["error", {
      "beforeBlockComment": true
    }],
    "lines-between-class-members": ["error", "always", {
      "exceptAfterSingleLine": true
    }],
    "max-statements-per-line": ["error", { "max": 1 }],
    "multiline-ternary": ["error", "always-multiline"],
    "new-cap": ["error", { "newIsCap": true, "capIsNew": true, "properties": true }],
    "new-parens": ["error"],
    "newline-per-chained-call": ["error"],
    "no-array-constructor": ["error"],
    "no-console": ["off"],
    "no-dupe-args": "off", // doesn't play nice with decorators in constructors
    "no-else-return": ["error" , { "allowElseIf": false }],
    "no-invalid-this": ["error"],
    "no-magic-numbers": ["error", {
      "ignoreArrayIndexes": true,
      "enforceConst": true,
      "detectObjects": true,
      "ignore": [0, 1]
    }],
    "no-multi-spaces": ["error", {
      "exceptions": {
        "ImportDeclaration": true,
        "VariableDeclarator": true
      }
    }],
    "no-new": ["error"],
    "no-new-func": ["error"],
    "no-lonely-if": ["error"],
    "no-multi-assign": ["error"],
    "no-redeclare": "off", // doesn't play nice with decorators in constructors
    "no-unneeded-ternary": ["error"],
    "no-var": ["error"],
    "no-whitespace-before-property": ["error"],
    "object-curly-newline": ["error", { "multiline": true, "consistent": true }],
    "one-var-declaration-per-line": ["error", "initializations"],
    "semi-spacing": ["error", { "before": false, "after": true }],

    "typescript/no-unused-vars": ["error"]
  }
}
