<!DOCTYPE html>
<html>

  <head>

  </head>

  <body>

    <h1>Dandi View with EJS!</h1>

    <ul>
      <li><a href="/view/dynamic-extension">Dynamic Extension Resolution</a></li>
      <li><a href="/view/dynamic">Dynamic View Resolution</a></li>
      <li><a href="/view/auto">Automatic View Resolution</a></li>
      <li><a href="/view/explicit-pug">PUG Explicit View Resolution</a></li>
      <li><a href="/view/explicit-ejs">EJS Explicit View Resolution</a></li>
    </ul>
    <h2>Dynamic File Extension Resolution (EJS) Selection (A)</h2>
    <p>
      <a href="?mode=a">Go to mode A (Pug)</a>
    </p>

  </body>

</html>