doctype html

html
  head
  body
    h1 Dandi Views with Pug!

    ul
      li
        a(href='/view/dynamic') Dynamic View Resolution
      li
        a(href='/view/auto') Automatic View Resolution
      li
        a(href='/view/explicit-pug') PUG Explicit View Resolution

    block content
