doctype html

html
  head
  body
    h1 Dandi View with Pug!

    ul
      li
        a(href='/view/dynamic-extension') Dynamic Extension Resolution
      li
        a(href='/view/dynamic') Dynamic View Resolution
      li
        a(href='/view/auto') Automatic View Resolution
      li
        a(href='/view/explicit-pug') PUG Explicit View Resolution
      li
        a(href='/view/explicit-ejs') EJS Explicit View Resolution

    block content
